.exec-line-content-box
    border: 2px solid #ff6200

.exec-line-pointer
    display: block
    margin: 0 0 0 10px
    background-image: url("src/assets/icons/line_pointer.svg")
    background-size: contain
    background-repeat: no-repea

.breakpoint-dot
    background-color: #bf1717
    border-radius: 50%
